/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* GLOBAL STYLES */
body {
    background-color: #FFF;
    color: #232320;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 96px;
    font-weight: 900;
    margin: auto;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* CUSTOM BUTTON */

.btn-custom {
    border-radius: 100px;
    border: 1px solid #232320;
    padding: 18px 80px;
    font-size: 20px;
    box-shadow: 0px 5px #232320;
}
.btn-custom:hover {
    border-radius: 100px;
    border: 1px solid #232320;
    padding: 18px 80px;
    font-size: 20px;
    box-shadow: 0px 5px #232320;
}

/* NAVIGATION */
nav{
    margin-top: 50px;
    font-weight: 700;
}

.nav-link {
    color: #949494;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #232320;
}

.center-link {
    margin-left: 20px;
    margin-right: 30px;
}

nav .bi {
    margin-left: 5px;
}

/* CONTENT */

.section-break {
    margin-top: 100px;
    margin-bottom: 100px;
}

.tagline{
    width: 90%;
    margin: auto;
    line-height: 34px;
    font-size: 22px;
    text-align: justify;
}

/* MOBILE STYLE */
@media (max-width: 576px) {

    nav{
        margin-top: 10px;
    }

    .nav-link {
        text-align: center;
    }

    .center-link {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-toggler {
        border: none;
        color: #232320;
    }

    h1 {
        text-align: center;
        width: 100%;
        font-size: 66px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .tagline{
        width: 100%;
        margin-bottom: 50px;
    }
 }

 @media (min-width: 576px) and (max-width: 820px) {

    h1 {
        width: 80%;
    }
}